<html>
    <head>
        <title>cloudy's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">это мой блог!</a></h1>
        </div>

        <div>
            <p>опубликован: 29.10.2022, 19:51</p>
            <h2><a href="">мой первый пост!!!</a></h2>
            <p>привет мир это мой первый пост!</p>
        </div>

        <div>
            <p>опубликован: 29.10.2022, 19:52</p>
            <h2><a href="">а это мой второй пост</a></h2>
            <p>оп уже целых два поста ! b:</p>
        </div>
       
		<div>
			<p>опубликован: 29.10.2022, 20:06</p>
			<h2><a href="">самый важный пост</a></h2>
			<p>я люблю бобрика машу!</p>
		</div>	
    </body>
</html>
