<html>
    <head>
        <title>это мой блог(клауди)</title>
    </head>
    <body>
        <div>
            <h1><a href="/">cloudy's blog</a></h1>
        </div>

        <div>
            <p>опублиокван: 29.10.2022, 19:51</p>
            <h2><a href="">мой первый пост!!!</a></h2>
            <p>привет мир это мой первый пост!</p>
        </div>

        <div>
            <p>опублиокван: 29.10.2022, 19:52</p>
            <h2><a href="">а это мой второй пост</a></h2>
            <p>оп уже целых два поста ! b:</p>
        </div>
    </body>
</html>
